
/* STAMPA */

@media print {
  .non-printable,
  header,
  nav,
  footer {
    display: none !important;
  }
}

/* DIVs */
#tabella_assenze {
  color: white !important; 
}
#logo-container {
  display: flex;
  justify-content: space-around;
  height: 50vh;
  margin: 10vh;
}

#logo-container img {
  margin-right: 10vh;
}

#logo-container .text-container {
  font-size: 1.6rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin: 50px;
  font-size: 2rem;
}

/* #annuncio {
  height: 50px;
  margin-top: 30px;
  background-color: beige;
  display: flex;
  align-items: center;
} */

.jumbotron {
  color: white;
  font-size: 70px;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 !important;
  font-family:'Exo 2', sans-serif;
  letter-spacing: 3px;
  background-color: #2c3e50 !important;
  flex-flow: row wrap;

}
/* scritta autogesty */
span#scritto {
  position: relative;
  z-index: 2;
}


div.tabella_scelte > table {
  border-collapse: collapse;
  width: 100%;
  border: solid white 1px;
}
div.tabella_scelte >  table > tbody > tr {
  border: solid white 1px;
}
div.tabella_scelte >  table > tbody > tr > td{
  padding: 15px;
}


.navbar-brand {
  font-family: 'Exo 2', sans-serif !important;
}
.form-control {
  height: auto !important;
}
.radio_disabled_parent > div > .input-group-text {
  background: #f2f2f2;
  background-image: none !important;
}
.radio_disabled_parent > .form-control {
  color: #bfbfbf;
}



.page_text {
  color: white !important;
  margin-left: 10%;
  margin-right: 10%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 50px;
  padding-bottom: 200px;
  background-color: #252020;
  border-radius: 20px;
  filter: opacity(90%);
  margin-bottom: 200px;
  position: relative;
  z-index: 2;
}


body {
  color: white !important;
}

main {
  margin-bottom: 0;
  background: linear-gradient(#2c3e50 50%, #1c1618 99%);
  padding: 0; /* Elimina padding extra */ 
  margin: 0; /* Elimina margini extra */
  position: relative; /* Necessario per contenere le stelle */ 
  overflow: hidden; /* Evita che le stelle escano fuori */ 
}

#news {
  border: 2px solid #ffffcc;
  border-radius: 8px;
  padding: 15px;
  margin-top: 70px;
}

footer {
  background-color: #000000e3;
  width: 100%;
  height: 200px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
  position: relative; /* non c'è */
}
footer p {
  text-align: center;
  line-height: 10px;
}

.footer-copyright {
  font-style: italic;
}

/* TESTI */

/* CLASSI */
/*
	.left {
		padding-left: 10px;
		float: left;
		text-align: left;
		width: 33.3%;
		position: relative;
	}

	.center {
		float: left;
		text-align: center;
		width: 33.3%;
		position: relative;
		margin-top: 45px;
	}

	.right {
		padding-right: 10px;
		float: left;
		text-align: right;
		position: relative;
		margin-top: 25px;
	}
*/
.boxed {
  border: 1px solid black;
  padding: 5px;
}

.aggbutton {
  margin-left: 85%;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
}

.alert-floating {
  position: fixed !important;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 9999;
  border-radius: 0px;
  max-width: 800px;
}

/* MENU */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.homeVideo {
  display: block;
  max-width: 700px;
  margin: 8px auto;
}
.homeVideo iframe {
  width: 100%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .jumbotron {
    font-size: 30px;
    height: 30vh;
    margin-left: 5%;
    margin-right: 5%;
  }
  .page_text {
    margin-left: 5% !important;
    margin-right: 5% !important;
    

  }
}


/* stelle sfonfo */ 

hr {
  display: none; /* Nasconde completamente l'elemento */
}
.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  animation: sparkle 3s infinite;
  width: 3px;
  height: 3px;
}



input[name="ricordami"] {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .star {
    width: 1.5px; /* Dimensione più piccola */
    height: 1.5px;
  }
}
@keyframes sparkle {
  0%, 100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

.starpoint {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  animation: sparkle 3s infinite, shoot 1s infinite;
  width: 6px;
  height: 6px;
}

@media (max-width: 768px) {
  .starpoint {
    width: 1.5px; /* Dimensione più piccola */
    height: 1.5px;
  }
}



.shooting-star {
  position: absolute;
  width: 2px;
  height: 100px;
  background: linear-gradient(45deg,white, transparent);
  opacity: 0;
  transform: rotate(45deg);
  animation: shoot 1s infinite;
}

@keyframes shoot {
  0% {
    opacity: 1;
    transform: translate(0, 0) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(-1000px, 1000px) rotate(45deg);
  }
}


/* toggle vis della pass nel form icona */

div#togglePassword {
  font-size: inherit;
  cursor: pointer;
  position: absolute;
  right: 10px;
  background-color: white;
  top: 7px;
  padding-left: 7px;
  

    
  }
  
  
  div#tutta {
    display: flex;
    position: relative;
  }

  /* alert feedback success */

  .alert {
    position: relative !important;
    top: 0 !important;
  }


